<!DOCTYPE html>

<title>Librairie</title>

{% block body %}
	<style>
		.lib {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<div class="lib">
		<h1>Librairie</h1>
		<ol>
			<li>test 1</li>
			<li>Test 2</li>
			<li>Tres 3</li>
		</ol>
	</div>
{% endblock %}
